absl-py==0.11.0
aiohttp==3.6.2
alabaster==0.7.12
albumentations==0.4.6
alembic==1.4.2
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
appdirs==1.4.4
argh==0.26.2
ase==3.20.1
asn1crypto==1.3.0
aspy.yaml==1.3.0
astroid==2.3.3
astropy==4.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
Augmentor==0.2.8
autograd==1.3
autopep8==1.4.4
aws-sam-translator==1.31.0
aws-xray-sdk==2.6.0
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.2
biopython==1.78
bitarray==1.2.1
bkcharts==0.2
bleach==3.1.0
blinker==1.4
blis==0.4.1
bokeh==2.0.0
boto==2.49.0
boto3==1.15.11
botocore==1.18.11
Bottleneck==1.3.2
cachetools==4.1.1
catalogue==1.0.0
certifi==2019.11.28
certipy==0.1.3
cffi==1.14.4
cfgv==2.0.1
cfn-lint==0.42.0
chardet==3.0.4
Click==7.0
cloudpickle==1.3.0
clyent==1.2.2
cobra==0.18.1
cobrababel==0.1.3
codacy-coverage==1.3.11
colorama==0.4.1
conda==4.8.3
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
configparser==5.0.0
contextlib2==0.6.0.post1
coverage==5.3
cryptography==2.8
cycler==0.10.0
cymem==2.0.3
Cython==0.29.15
cytoolz==0.10.1
dash==1.9.1
dash-core-components==1.8.1
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.1
dask==2.5.2
decorator==4.4.2
defusedxml==0.6.0
depinfo==1.5.4
diff-match-patch==20181111
distlib==0.3.1
distributed==2.5.2
docker==4.4.0
docker-pycreds==0.4.0
docutils==0.16
ecdsa==0.14.1
entrypoints==0.3
et-xmlfile==1.0.1
faiss-gpu==1.6.4.post2
fastai==1.0.61
fastcache==1.1.0
fastcore==1.0.9
fastprogress==0.2.6
filelock==3.0.12
flake8==3.7.9
Flask==1.0.2
Flask-Compress==1.4.0
flatbuffers==1.12
fsspec==0.8.4
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.3.3
geomstats==2.2.0
GEOparse==2.0.1
gevent==1.4.0
gitdb==4.0.5
GitPython==3.1.7
glob2==0.7
gmpy2==2.0.8
google-api-python-client==1.7.8
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googledrivedownloader==0.4
gql==0.2.0
graphql-core==1.1
greenlet==0.4.15
grpcio==1.32.0
h5py==2.10.0
HeapDict==1.0.1
hiddenlayer==0.3
html5lib==1.0.1
httmock==1.3.0
httplib2==0.12.1
humanize==3.1.0
hypothesis==5.5.4
identify==1.5.10
idna==2.8
imageio==2.8.0
imagesize==1.2.0
imgaug==0.4.0
importlib-metadata==3.1.0
intervaltree==3.0.2
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
javabridge==1.0.19
jdcal==1.4.1
jedi==0.15.2
jeepney==0.4.3
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
json5==0.9.3
jsondiff==1.2.0
jsonpatch==1.27
jsonpickle==1.4.1
jsonpointer==2.0
jsonschema==3.2.0
junit-xml==1.9
jupyter==1.0.0
jupyter-client==6.1.0
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyter-server-proxy==1.3.0
jupyter-telemetry==0.0.5
jupyterhub==1.1.0
jupyterlab==1.2.6
jupyterlab-dash==0.1.0a3
jupyterlab-server==1.0.7
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring==21.1.0
kiwisolver==1.1.0
kornia==0.4.0
lazy-object-proxy==1.4.3
libarchive-c==2.8
lief==0.9.0
llvmlite==0.34.0
locket==0.2.0
lxml==4.4.2
Mako==1.1.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlxtend==0.18.0
mock==4.0.2
more-itertools==8.6.0
moto==1.3.16
mpmath==1.1.0
msgpack==1.0.0
multidict==4.7.5
multipledispatch==0.6.0
murmurhash==1.0.2
navigator-updater==0.2.1
nb-conda-kernels==2.2.2
nbconvert==5.6.1
nbformat==5.0.4
ndg-httpsclient==0.5.0
networkx==2.5
nibabel==3.2.0
nltk==3.4.5
nodeenv==1.5.0
nose==1.3.7
notebook==6.0.3
numba==0.51.2
numexpr==2.7.1
numpy==1.19.2
numpydoc==0.9.2
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.0.1
olefile==0.46
onnx==1.8.1
openpyxl==3.0.3
openslide-python==1.1.2
opt-einsum==3.3.0
optlang==1.4.4
packaging==20.4
pamela==1.0.0
pandas==1.0.3
pandocfilters==1.4.2
parso==0.5.2
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pick==0.6.4
pickleshare==0.7.5
Pillow==7.0.0
pipdeptree==1.0.0
pkginfo==1.5.0.1
plac==1.1.3
plotly==4.5.4
pluggy==0.13.1
ply==3.11
pre-commit==1.21.0
preshed==3.0.2
prettytable==0.7.2
progressbar2==3.43.1
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.4
protobuf==3.15.2
psutil==5.7.0
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.6
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.5
pydocstyle==4.0.1
pyfiglet==0.8.post1
pyflakes==2.1.1
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.4.4
pyodbc===4.0.0-unsupported
pyOpenSSL==18.0.0
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
pytesseract==0.3.6
pytest==4.6.2
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-cov==2.7.1
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-bioformats==4.0.0
python-dateutil==2.8.1
Python-Deprecated==1.1.0
python-editor==1.0.4
python-javabridge==4.0.0
python-jose==3.2.0
python-json-logger==0.1.11
python-jsonrpc-server==0.3.4
python-language-server==0.31.9
python-libsbml-experimental==5.18.1
python-utils==2.4.0
pytorch-lightning==1.0.2
pytz==2020.4
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==18.1.1
QDarkStyle==2.8
QtAwesome==0.7.0
qtconsole==4.7.2
QtPy==1.9.0
rdflib==5.0.0
requests==2.21.0
requests-mock==1.5.2
requests-oauthlib==1.3.0
responses==0.12.1
retrying==1.3.3
riptide==3.1.6
rope==0.16.0
rsa==4.6
Rtree==0.9.3
ruamel-yaml==0.15.87
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.11.0
SecretStorage==3.1.2
Send2Trash==1.5.0
sentry-sdk==0.16.4
Shapely==1.7.1
shortuuid==1.0.1
simpervisor==0.3
simplegeneric==0.8.1
SimpleITK==1.2.4
singledispatch==3.4.0.3
six==1.15.0
smmap==3.0.4
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.3.0
soupsieve==2.0
spacy==2.3.2
spams==2.6.1
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.1
spyder==4.1.1
spyder-kernels==1.9.0
SQLAlchemy==1.3.15
srsly==1.0.2
sshpubkeys==3.1.0
staintools==2.1.2
statsmodels==0.11.0
subprocess32==3.5.4
swiglpk==4.65.1
symengine==0.6.1
sympy==1.6.2
tables==3.6.1
tabulate==0.8.7
tblib==1.6.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==7.4.1
toml==0.10.2
toolz==0.10.0
torch==1.5.1
torch-geometric==1.6.1
torchaudio==0.8.0
torchio==0.17.53
torchvision==0.6.1
tornado==6.0.4
tox==3.13.2
tqdm==4.48.2
traitlets==4.3.3
typing-extensions==3.7.4.1
ujson==1.35
umap-learn==0.4.6
unicodecsv==0.14.1
uniprot==1.3
uritemplate==3.0.1
urllib3==1.24.3
virtualenv==20.2.1
wandb==0.9.4
wasabi==0.7.1
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==2.0.0
xgboost==1.3.1
xlrd==1.2.0
XlsxWriter==1.2.8
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.28.0
yarl==1.3.0
zict==2.0.0
zipp==3.4.0
